openapi: 3.0.3
info:
  title: Test Automation Service API
  description: API for automated testing of Glean chat service using multiple user accounts and predefined questions
  version: 1.0.0
  contact:
    name: Test Automation Team
    email: andrew@company.com

servers:
  - url: https://answer-generation-automation.company.com/api/v1
    description: Production server
  - url: https://answer-generation-automation-dev.company.com/api/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /answergeneration/execution/{usecase_id}:
    post:
      summary: Execute automated tests
      description: Run automated tests against Glean chat API using specified test users and questions
      operationId: executeTests
      parameters:
        - name: usecase_id
          in: path
          required: true
          schema:
            type: string
          description: Use case ID that defines the users, questions, and application IDs to test
          example: "usecase_id_1"
      responses:
        '200':
          description: Test execution completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "INVALID_REQUEST"
                message: "Invalid usecase_id parameter in URL path"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  field: "usecase_id"
                  provided: "invalid_usecase"
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "UNAUTHORIZED"
                message: "Invalid or expired authentication token"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  token_status: "expired"
        '403':
          description: Forbidden - operator or test parameters not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "FORBIDDEN"
                message: "Operator 'test_operator5' is not authorized to run tests"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  operator: "test_operator5"
                  allowed_operators: ["test_operator1", "test_operator2", "test_operator3", "test_operator4"]
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "INTERNAL_SERVER_ERROR"
                message: "An unexpected error occurred while processing the request"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  request_id: "req-12345"

  /answergeneration/usecases:
    get:
      summary: Get allowed configuration
      description: Retrieve the complete allowed configuration including use cases with their users, questions, and application IDs
      operationId: getAllowedConfiguration
      responses:
        '200':
          description: Allowed configuration retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UseCase'
              example:
                - id: "usecase_id_1"
                  users:
                    - "user_1"
                    - "user_2"
                    - "user_3"
                  questions:
                    - "What is machine learning?"
                    - "How does neural network training work?"
                    - "What are the benefits of cloud computing?"
                    - "How do I reset my password?"
                    - "What is our company's mission statement?"
                  ai_app_ids:
                    - "ai_app_1"
                    - "ai_app_2"
                    - "ai_app_3"
                - id: "usecase_id_2"
                  users:
                    - "user_1"
                    - "user_2"
                    - "user_3"
                  questions:
                    - "How do I update my profile settings?"
                    - "What are the system requirements for this software?"
                    - "Can you explain data privacy policies?"
                    - "How to troubleshoot connection issues?"
                    - "What integrations are available?"
                  ai_app_ids:
                    - "ai_app_1"
                    - "ai_app_2"
                    - "ai_app_3"
                - id: "usecase_id_3"
                  users:
                    - "user_1"
                    - "user_2"
                    - "user_3"
                  questions:
                    - "Show me sales analytics for Q4"
                    - "How to generate monthly reports?"
                    - "What are our top performing products?"
                    - "Can you analyze customer churn data?"
                    - "Export user engagement metrics"
                  ai_app_ids:
                    - "ai_app_1"
                    - "ai_app_2"
                    - "ai_app_3"
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "UNAUTHORIZED"
                message: "Invalid or expired authentication token"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  token_status: "expired"
        '403':
          description: Forbidden - operator not authorized to view configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "FORBIDDEN"
                message: "Operator 'test_operator5' is not authorized to view test configuration"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  operator: "test_operator5"
                  required_permission: "view_config"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "INTERNAL_SERVER_ERROR"
                message: "An unexpected error occurred while processing the request"
                timestamp: "2024-01-01T00:00:00Z"
                details:
                  request_id: "req-12345"

components:
  schemas:
    TestResponse:
      type: object
      required:
        - test_id
        - timestamp
        - operated_by
        - usecase_id
        - status
        - results
      properties:
        test_id:
          type: string
          format: uuid
          description: Unique identifier for the test execution
          example: "550e8400-e29b-41d4-a716-446655440000"
        timestamp:
          type: string
          format: date-time
          description: When the test was initiated
          example: "2024-01-01T00:00:00Z"
        operated_by:
          type: string
          description: ID of the operator who requested the test
          example: "test_operator1"
        usecase_id:
          type: string
          description: Use case ID that was executed
          example: "usecase_id_1"
        status:
          type: string
          enum:
            - completed
            - partially completed
            - failed
          description: Status of the test execution
          example: "completed"
        errorMsg:
          type: string
          nullable: true
          description: error details
          example: null
        results:
          type: array
          description: List of results for each question asked during the test
          items:
            $ref: '#/components/schemas/QuestionResult'

    QuestionResult:
      type: object
      required:
        - target_user_id
        - application_id
        - question
        - timestamp
        - status
      properties:
        target_user_id:
          type: string
          description: Test user ID used for this specific question
          example: "target_user_1"
        application_id:
          type: string
          description: Application ID used for this specific question
          example: "ai_app_1"
        question:
          type: string
          description: The question that was asked
          example: "What is machine learning?"
        answer:
          type: string
          nullable: true
          description: The response received from Glean API
          example: "Machine learning is a subset of artificial intelligence..."
        citation_urls:
          type: array
          items:
            type: string
            format: uri
          description: URLs cited in the response
          example: [
            "https://internal-docs.com/ml-overview",
            "https://wiki.company.com/ai-basics"
          ]
        response_time_ms:
          type: integer
          minimum: 0
          nullable: true
          description: Response time in milliseconds
          example: 1500
        timestamp:
          type: string
          format: date-time
          description: When the question was processed
          example: "2024-01-01T00:00:01Z"
        status:
          type: string
          enum:
            - success
            - failed
          description: Status of this specific question
          example: "success"
        errorMsg:
          type: string
          nullable: true
          description: error details
          example: null

    UseCase:
      type: object
      required:
        - id
        - users
        - questions
        - ai_app_ids
      properties:
        id:
          type: string
          description: Unique identifier for the use case
          example: "usecase_id_1"
        users:
          type: array
          items:
            type: string
          description: List of test users for this use case
          example: ["user_1", "user_2", "user_3"]
        questions:
          type: array
          items:
            type: string
          description: List of questions for this use case
          example: [
            "What is machine learning?",
            "How does neural network training work?"
          ]
        ai_app_ids:
          type: array
          items:
            type: string
          description: List of AI application IDs for this use case
          example: ["ai_app_1", "ai_app_2", "ai_app_3"]

    ErrorResponse:
      type: object
      required:
        - error
        - message
        - timestamp
      properties:
        error:
          type: string
          description: Error code or type
          example: "UNAUTHORIZED_OPERATION"
        message:
          type: string
          description: Human-readable error message
          example: "Operator 'test_operator5' is not authorized to run tests"
        timestamp:
          type: string
          format: date-time
          description: When the error occurred
          example: "2024-01-01T00:00:00Z"
        details:
          type: object
          additionalProperties: true
          description: Additional error details

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SSO JWT token obtained from authentication service